<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>시멘틱 태그를 이용한 레이아웃</title>
</head>

<body>
    <div id="app">
        <header>
            회사로고
        </header>
        <nav>메인메뉴</nav>
        <main>
            본문
            <aside>왼쪽</aside>
            <aside>오른쪽</aside>
            <section>본문</section>
        </main>
        <footer> 회사 부가정보
            <!-- &copy html entity code : 특수문자 넣는 방법 -->
            copyright &copy; 2024
        </footer>
    </div>
</body>

</html>