<!-- form 에서 입력되면 get,post,patch,put,delete방식으로 전송된다. -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- form 안의 영역(내용)은 서버로 보낼 영역이다. -->
    <!--  action은 보낼 서버의 주고 즉 경로이다. -->
    <!-- form의 내용을 서버로 전달하는 것은 submit이라고 한다. -->
    <!-- submit을 하지 않으려면 type="button"을 지정 sumit을 하지 않는 이유는 의미없는 서버 전송을 막기 위함이다.-->
    <!-- method는  -->

    <!-- get : 서버의 변경사항이 없다. 반복실행해도 상관없다.-->
    <!-- post : 서버가 변경된다. 반복실힝하면 안된다.(결제)-> 즐겨찾기가 불가능하다.-->
    <form action="#" method="">
        <button type="button">보내기</button>
    </form>
</body>

</html>